.one{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background: red;
}

.two{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background: yellow;
}

.three{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background: cyan;
}

body{
  background: blue;
}
