#container{
  width: 600px;
  height: 400px;
  margin: 0px auto;
}

.colorTile{
  background-color: red;
  width: 30%;
  margin: 1.6%;
  padding-bottom: 30%;
  float: left;
}

body{
  background-color: black;
}

h1{
  color: yellow;
  text-align: center;
}

button{
  width: 20%;
  height: 30px;
  margin: 30px;
  margin-left: 40%;
  color: black;
  background-color: yellow;
}
