#container{
  width: 600px;
  height: 400px;
  margin: 0px auto;
}

.colorTile{
  background-color: red;
  width: 30%;
  margin: 1.6%;
  padding-bottom: 30%;
  float: left;
}

body{
  background-color: AliceBlue;
  margin: 0px;
  font-family: "MADE Evolve Sans EVO";
  text-transform: uppercase;
}

em{
  font-family: "MADE Evolve Sans EVO";
  letter-spacing: 1px;
}

#rgbDisplay{
  font-size: 40px;
}

h1{
  color: black;
  text-align: center;
  word-spacing: 5px;
}

button{
  width: 33.3%;
  height: 30px;
  margin-top: 3%;
  margin-bottom: 3%;
  color: white;
  background-color: black;
  border: none;
}

button::-moz-focus-inner {
  border: 0;
}
/* hover effect
button:hover{
  transform: scale(1.1);
}
*/
